.tabcontent {
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px rgba(30, 30, 30, 0.1);
  background: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  position: relative;
}

.tabcontent > img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}

.tabcontentAbout {
  margin-left: 14px;
  font-family: "SF Pro Display", sans-serif;
}

.tabcontentAbout > p {
  color: rgb(22, 23, 24);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 6px;
}

.tabcontentAbout > span {
  color: rgb(22, 23, 24);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.tabsBloks {
  display: flex;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  color: rgb(97, 111, 130);
  font-weight: 400;
  line-height: 20px;
  margin: 13px 0 13px 0;
  padding-left: 10px;
}

@media screen and (max-width: 400px) {
  .tabsBloks {
    overflow-x: scroll;
  }
}

.tabsBloks li:not(:last-child) {
  border-right: 1px solid rgb(205, 205, 205);
  padding-right: 20px;
}

@media screen and (max-width: 1000px) {
  .tabsBloks li:not(:last-child) {
    padding-right: 5px;
  }
}

.tabsBloks li:not(:first-child) {
  padding-left: 20px;
}

@media screen and (max-width: 1000px) {
  .tabsBloks li:not(:last-child) {
    padding-left: 5px;
  }
}

.tabsWrap {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .tabsWrap {
    flex-direction: column;
  }
}

.recomend {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  color: rgb(97, 111, 130);
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.recomend > button {
  border: 1px solid rgb(97, 111, 130);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-left: 10px;
  padding-top: 3px;
}

@media screen and (max-width: 1000px) {
  .recomend > button {
    margin-left: 0px;
  }
}

.recomend > button:hover {
  background-color: rgb(65, 152, 197);
  border: none;
}

.recomend > button:hover > svg {
  fill: white;
}

.tabWrapper {
  width: 100%;
}
