body {
  background: rgb(241, 242, 243);
}

li {
  list-style-type: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
}

.dropPosition {
  position: absolute;
  top: 13px;
  right: 16px;
}
